header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  height: 60px;
}

span{
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

ul{
  display: flex;
  list-style: none;
  gap: 10px;
  color: white;
}

a{
    text-decoration: none;
    color: white;
}


a:hover{
  cursor: pointer;
  font-size: 1.1rem;
}