.Container{
    height: 100vh;
}

form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label{
    font-size: 2rem;
}

input{
    text-align: center;
    height: 3rem;
    width: 16rem;
    border-radius: 10px;
    border: black solid 1px;
}

button{
    margin-top: 10px;
    background-color: rgb(63, 143, 63);
    color: white;
    width: 16rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(41, 100, 41);
}

